@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <p>
        First name: <input type="text" data-bind="value: firstName"></input></p>
    <p>
        Last name: <input type="text" data-bind="value: lastName"></input></p>
    <p>
        Full name: <strong data-bind="text: fullName"></strong></p>
    <p>
        <input type="button" data-bind="value: saveButtonText, click: combind"/>
    </p>
       
</div>
@*@( Html.UpshotContext().DataSource<DeliveryServiceController>(x => x.GetDeliveries()))*@
<script type="text/javascript" language="javascript">
    $(function () {
        //        var datasource = upshot.dataSources.DeliveriesForToday;
        //        datasource.refresh(function (results) {
        //            alert(results);
        //        });

        ko.applyBindings(new AppViewModel());
    });

    function AppViewModel() {
        var self = this;
        self.firstName = ko.observable("Bert");
        self.lastName = ko.observable("Bertington");
        self.saveButtonText = ko.observable("Save");

        self.fullName = ko.computed(function() {
            return self.firstName() + ' ' + self.lastName();
        });

        self.combind = function() {
            self.firstName("Hoang Gia");
        };
    }

    // Activates knockout.js
    
</script>
