@model MVC4.Sample.Common.ViewModels.Home.UserListViewModel
@if (Model != null)
{
    <table>
        @for (var i = 0; i < Model.Users.Count; i++)
        {
            <tr>
                <td>
                    @Html.HiddenFor(h => h.Users[i].Id)
                    @Html.LabelFor(l => l.Users[i].UserName)
                </td>
                <td>
                    @Html.TextBoxFor(l => l.Users[i].UserName)
                    @Html.ValidationMessageFor(l => l.Users[i].UserName)
                </td>
            </tr>
        }
    </table>
    
    <input type="submit" value="Save Users" name="SaveUsers" data-val-valgroup-name="Users"/>
}