<?xml version="1.0"?>
<configuration>

  <configSections> <!--Must be at the beginning of the file-->
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core"/>
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core"/>
    </sectionGroup>
  </configSections>

  <spring>
    <context>
      <resource uri="config://spring/objects"/>
    </context>
    <objects xmlns="http://www.springframework.net">
      <object name="TheCar" type="Spring.Net.Sample.ConsoleApp.MyCodes.Car, Spring.Net.Sample.ConsoleApp">
        <constructor-arg name="wheel" ref="CarWheel"></constructor-arg>
        <constructor-arg name="driver" ref="TaxiDriver"></constructor-arg>
      </object>
      <object name="CarWheel" type="Spring.Net.Sample.ConsoleApp.MyCodes.CarWheel, Spring.Net.Sample.ConsoleApp"></object>
      <object name="TaxiDriver" type="Spring.Net.Sample.ConsoleApp.MyCodes.TaxiDriver, Spring.Net.Sample.ConsoleApp"></object>
    </objects>
  </spring>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
